<div class="total-content">
        <!-- user-registration-area start -->
        <div class="individuals-reg-area">
            <div class="site-title">
                <i class="fa fa-th-large"></i>
                <h3>Reissue your password</h3>
            </div>
            <div class="individuals-reg-wrap">
                <form  class="form-horizontal" name="changepassForm">
                    <h3>Sections with * need to be entered</h3>
                    <h4>Account</h4>
                    <div class="reg-row">
                        <div class="row">
                            <div class="col-sm-3 pr0">
                                <div class="item-name h1x">
                                    <p><i class="fa fa-arrow-circle-right"></i> <span>*</span>E-mail address</p>
                                </div>
                            </div>
                            <div class="col-sm-9 pl5">
                                <div class="item-value h1x">
                                    <p class="red-text wd70">
                                        <input type="text" name="email" placeholder="bc-test123@becausebd.com" ng-model="vm.model.StaffEmailID" uib-tooltip="Your Email address" 
                                           tooltip-placement="top" ng-readonly="vm.model.StaffEmailID"/>   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reg-row bt0">
                        <div class="row">
                            <div class="col-sm-3 pr0">
                                <div class="item-name h1x">
                                    <p><i class="fa fa-arrow-circle-right"></i> <span>*</span>Old password </p>
                                </div>
                            </div>
                            <div class="col-sm-9 pl5">
                                <div class="item-value h1x">
                                    <p class="red-text wd70">
                                        <input type="password" name="oldpass" placeholder="password" ng-model="vm.OldPass" uib-tooltip="Please enter your old Password" ng-blur='checkPassword()'
                                               tooltip-placement="top" ng-class="{'invalid-input':isTriedSave && changepassForm.oldpass.$error.required }" required />
                                        <span ng-if="vm.checkpass"><i style="font-size:18px;color:green;" class="fa fa-check-circle"></i></span>
                                    <p ng-if="vm.OldPass.length > 0 && !vm.checkpass" ng-style="{'color':'red'}" class="help-block">Your Old password is Incorrect</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reg-row bt0">
                        <div class="row">
                            <div class="col-sm-3 pr0">
                                <div class="item-name h5X">
                                    <p><i class="fa fa-arrow-circle-right"></i><span>*</span> New Password</p>
                                </div>
                            </div>
                            <div class="col-sm-9 pl5">
                                <div class="item-value h1x">
                                    <p class="red-text wd70">
                                        <input type="password" name="password" ng-disabled="!vm.checkpass" ng-minlength="8" placeholder="New password" ng-model="vm.model.Password" 
                                     ng-class="{'invalid-input':isTriedSave && changepassForm.password.$error.required || $ctrl.vm.model.Password < 8}" required /> <span ng-show="changepassForm.password.$error.minlength" class="help-block">Password is too short.Please enter more than 8 characters.</span>
                                </div>
                                <div class="item-value h1x">
                                        <p class="red-text wd70">
                                        <input type="password" name="repass" ng-disabled="!vm.checkpass" ng-model="vm.Repass" placeholder="Enter again" ng-class="{'invalid-input':isTriedSave && changepassForm.repass.$error.required}" required /> <span> * Enter again</span>
                                        <p ng-if="vm.Repass.length > 0 && vm.model.Password !== vm.Repass" ng-style="{'color':'red'}">Password does not match</p>
                                        </p>
                                    </div>
                                <div class="" >
                                    <input type="submit" ng-disabled="!vm.checkpass" value="Update Password" ng-click="ChangePassword()" class="btn-primary btn-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- user-registration-area end -->
    </div>