<div class="total-content">
    <div class="my-page-area">
        <div class="site-title">
            <i class="fa fa-th-large"></i>
            <h3>Reissue password</h3>
        </div>
        <div class="individuals-reg-wrap">
            <form name="resissueForm">
                <div class="row">
                    <div class="form-group has-feedback">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-sm-3 col-md-3 col-xs-3 text-right vertical-middle">
                                <label>Enter Email</label>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-7">
                                <input type="text" name="email" class="form-control" placeholder="ID@e-mail" data-ng-model="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{1,5}$/" required>
                                <span style="color:red;" ng-show="resissueForm.email.$error.pattern">
                                    Invalid email!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button ng-click="sendEmail()" class="btn btn-primary " style="margin-top:15px;">Send Email</button>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->

                </div>
            </form>
        </div>
    </div>
</div>
